<section data-ng-controller="HomeController">
  <h1 class="text-center">THANK YOU FOR DOWNLOADING MEAN.JS</h1>
  <section>
    <p>
    	Before you begin we recommend you read about the basic building blocks that assemble a MEAN.JS application:
    </p>
    <dl>
      <dt>MongoDB</dt>
      <dd>
        Go through <a target="_blank" href="http://mongodb.org">MongoDB Official Website</a> and proceed to its <a target="_blank" href="http://docs.mongodb.org/manual/">Great Manual</a>, which should help you understand NoSQL and MongoDB better.
      </dd>
      <dt>Express</dt>
      <dd>
        The best way to understand Express is through its <a target="_blank" href="http://expressjs.com"> Official Website</a>, particularly <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a>; you can also go through this <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow Thread</a> for more resources.
      </dd>
      <dt>AngularJS</dt>
      <dd>
        Angular's <a target="_blank" href="http://angularjs.org">Official Website</a> is a great starting point. You can also use <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a>, and the <a target="_blank" href="https://egghead.io/">Egghead Videos</a>.
      </dd>
      <dt>Node.js</dt>
      <dd>
        Start by going through <a target="_blank" href="http://nodejs.org">Node.js Official Website</a> and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">StackOverflow Thread</a>, which should get you going with the Node.js platform in no time.
      </dd>
    </dl>
    <p class="alert alert-info">
      When you're done with those resources and feel you understand the basic principles continue to the <a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>.
    </p>
    <br>
    <br>Enjoy &amp; Keep Us Updated,
    <br>The MEAN.JS Team.
  </section>
</section>
