<div class="file-view" data-ng-if="file">
  <img data-ng-src="/images/{{resolution}}/{{file.path}}" data-ng-srcset="/images/{{resolution}}/{{file.path}}, /images/{{resolution | multiRes}}/{{file.path}} x2" class="preview" data-ng-if="file.type === 'image'" />
  <video autoplay controls data-ng-attr-poster="/images/{{resolution}}/{{file.path}}.jpg" data-ng-if="file.type === 'video'">
    <!--<source data-ng-src="{{file.path | videoSrcWebm}}" type="video/webm" />-->
    <source data-ng-src="{{file.path | videoSrcMp4}}" type="video/mp4" />
  </video>
</div>
