<div class="uploader-wrapper">
  <form enctype="multipart/form-data" action="/upload">
    <div class="hidden">
      <input class="file-selector" type="file" name="uploader" data-ng-file-select="onFileSelect($files)" />
    </div>
    <img data-ng-src="/images/{{options.resolution}}/{{file | thumbnailBg}}" data-ng-srcset="/images/{{options.resolution}}/{{file | thumbnailBg}}, /images/{{options.resolution | multiRes}}/{{file | thumbnailBg}} x2" class="thumb fake-uploader" data-ng-if="file" />
    <div data-ng-show="error" class="text-danger text-center">
      <strong>{{error}}</strong>
    </div>
    <button class="uploader-click btn btn-default btn-block" type="button" data-ng-hide="file || progress">{{options.choose}}</button>
    <button class="uploader-click btn btn-default btn-block" type="button" data-ng-show="file && !progress">{{options.replace}}</button>
    <div class="progress progress-striped active" data-ng-show="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: progress+'%'}">{{progress}}%</div>
    </div>
  </form>
</div>
