<section data-ng-controller="FilesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{file.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == file.user._id">
		<a class="btn btn-primary" href="/#!/files/{{file._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{file.created | date:'mediumDate'}} by {{file.user.displayName}}</em>
	</small>
</section>