<section data-ng-controller="PostsController">
  <div class="page-header">
    <h1>Add a new post</h1>
  </div>
  <form class="form" enctype="multipart/form-data" data-ng-submit="create()" novalidate>
    <div class="form-group">
      <uploader data-ng-model="file" data-resolution="600x250" data-file="file" data-choose="Choose a file" data-replace="Replace file" data-extensions="jpg,png,gif,jpeg,mp4,3gp,m4v,mov" action="/upload"></uploader>
    </div>
    <div data-ng-class="{'form-group':true,'has-error':checkChars(tweet)}" data-ng-show="file">
      <textarea type="text" rows="3" data-ng-model="tweet" id="tweet" class="form-control" placeholder="Enter your text..."></textarea>
      <p class="text-right remaining">Remaining: {{remainingLength(tweet)}}</p>
      <div class="hashtags" data-ng-include="'/modules/hashtags/views/list-tags.client.view.html'"></div>
    </div>
    <hr />
    <div class="form-group" data-ng-show="file">
      <div data-ng-show="error" class="text-danger text-center">
        <strong>{{error}}</strong>
      </div>
      <input type="submit" class="btn btn-primary btn-block">
    </div>
  </form>
</section>
