<section data-ng-controller="PostsController" data-ng-init="find()">
  <div class="hashtags" data-ng-include="'/modules/hashtags/views/filter-tags.client.view.html'"></div>
  <div data-ng-repeat="post in posts | hashtag" data-ng-href="#!/posts/{{post._id}}" data-ng-class="{expanded: post.expanded}">
    <a name="{{post._id}}" class="post-anchor"></a>
    <small class="list-group-item-text"><strong>{{post.user.username}}</strong> - <span data-am-time-ago="post.created"></span></small>
    <p class="tweet" data-ng-if="post.tweet">{{post.tweet}}</p>
    <div class="file-wrapper">
      <file-thumb-view data-ng-click="expandPost($index,!post.expanded)" data-ng-model="file" data-resolution="600x250" data-file="post.file" data-ng-hide="post.expanded" data-lazyload="true"></file-thumb-view>
      <file-view data-ng-model="file" data-resolution="600x" data-file="post.file" data-ng-if="post.expanded"></file-view>
    </div>
    <a class="btn btn-primary pull-right" data-ng-show="post.expanded" data-ng-if="authentication.user && (authentication.user._id === post.user._id || authentication.user.roles.indexOf('admin') > -1)" data-ng-click="remove(post);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <p class="submitted" data-ng-show="post.expanded"><small class="list-group-item-text">{{post.created | date:'medium'}}</small></p>
    <a class="expand-post" data-ng-hide="post.expanded" data-ng-click="expandPost($index,true)">Expand</a> 
    <a class="collapse-post" data-ng-show="post.expanded" data-ng-click="expandPost($index,false)">Collapse</a> 
    <hr />
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!posts.$resolved || posts.length">
  	No Posts yet, why don't you <a href="/#!/posts/create">create one</a>?
  </div>
</section>
