<section data-ng-controller="HashtagsController" data-ng-init="find()">
  <h4>
    <a data-ng-if="selectedTag" class="label label-info" data-ng-href="/#!">All posts</a>
    <span data-ng-repeat="campaign in campaigns" class="hashtag-heading">
      <span data-ng-repeat="hashtag in campaign.tags">
        <a data-ng-if="hashtag.tag && (!selectedTag || selectedTag === hashtag.tag)" class="label label-{{campaign.campaign === 'Votes at 16' ? 'success' : 'warning'}}" data-ng-href="/#!/posts/tags/{{hashtag.tag}}">#{{hashtag.tag}}</span>
      </span>
    </span>
  </h4>
</section>
