<section data-ng-controller="HashtagsController" data-ng-init="find()">
  <div data-ng-repeat="campaign in campaigns">
    <div class="hashtag-heading">
      <h4><span class="label label-{{campaign.campaign === 'Votes at 16' ? 'success' : 'warning'}}">{{campaign.campaign}}</span></h4>
    </div>
    <ul class="list-group">
      <li data-ng-repeat="hashtag in campaign.tags" data-ng-attr-class="list-group-item list-group-item-{{campaign.campaign === 'Votes at 16' ? 'success' : 'warning'}}">
        <h4 class="list-group-item-heading">#{{hashtag.tag}} <small>{{hashtag.description}} <a data-ng-if="authentication.user.roles.indexOf('admin') > -1" data-ng-href="#!/hashtags/{{hashtag._id}}/edit">Edit</a></small></h4>
        
      </li>
    </ul>
    <div class="alert alert-warning text-center" data-ng-hide="!hashtags.$resolved || hashtags.length">
      No hashtags yet, why don't you <a href="/#!/hashtags/create">create one</a>?
    </div>
  </div>
  <div class="well" data-ng-if="authentication.user.roles.indexOf('admin') > -1" data-ng-include="'/modules/hashtags/views/create-hashtag.client.view.html'"></div>
</section>
