<section data-ng-controller="HashtagsController" data-ng-init="find()">
  <h4>
    <span data-ng-repeat="campaign in campaigns" class="hashtag-heading">
      <span data-ng-repeat="hashtag in campaign.tags">
        <span class="label label-{{campaign.campaign === 'Votes at 16' ? 'success' : 'warning'}}">#{{hashtag.tag}}</span>
      </span>
    </span>
  </h4>
</section>
