<section data-ng-controller="HashtagsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{hashtag.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == hashtag.user._id">
		<a class="btn btn-primary" href="/#!/hashtags/{{hashtag._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{hashtag.created | date:'mediumDate'}} by {{hashtag.user.displayName}}</em>
	</small>
</section>